@charset "UTF-8";

main{
    * {
        height: 100%;
    }
    background-color: rgb(255, 255, 255);
    height: min-content;
    width: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black
    
    
    
}